* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('RobotoCondensed-Italic-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Alata';
        src: url('Alata-Regular.ttf') format('truetype');
      }

    :root {
        --cor1: #00261C;
        --cor2: #044D29;
        --cor3: #168039;
        --cor4: #45BF55;
        --cor5: #84E1AD;
    }
    

    body {
        background-image: linear-gradient(to right, #F27233, #D6581D, #CA4213, #CB4F13, #D17B18);
    }

    nav {
        background-color: #0072BD;
        padding: 5px 15px;
    }

    nav > a {
        color: white;
        font-weight:600;
        text-decoration: none;
        padding-left: 20px;
        font-family: 'Roboto', sans-serif;
        text-shadow: 5px 5px 5px #003b6231;
    }

    a:hover {
        text-decoration: underline;
    }

    section {
        padding: 95px 0px 0px 300px;
        height: 300px;
    }

    section > img {
        position: relative;
        display: inline-block;
    }

    section > h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        line-height: 1;
        font-size: 36px;
        color: white;
        padding: 10px 0px 25px 0px;
        text-shadow: 5px 5px 5px #ca4113a4;
    }

    section > h2 {
        font-family: 'Alata', sans-serif;
        color: white;
        line-height: 1.5;
        font-size: 15px;
        letter-spacing: 1px;
        text-shadow: 5px 5px 5px #ca4113a4;
    }

    section > h3 {
        color: white;
        font-family: 'Roboto', sans-serif;
        text-shadow: 5px 5px 5px #ca4113a4;
        font-weight: 600;
        font-size: 14px;
        padding: 0px 26px;
    }

    section > div {
        padding: 40px 0px 0px 0px;
    }

    section > div > a {
        background-image: linear-gradient(to right, #0D7EC8, #3FADF5);
        padding: 13px;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        text-shadow: 5px 5px 5px #003b6231;
        border: 1px solid #0D7EC8;
    }

    header {
        background-color: #003B62;
    }

    header > img {
        margin: auto;
        padding: 10px 0px 0px 20px;
    }

    main {
        font-family: 'Alata', sans-serif;
        height: 100%;
        margin: auto;
        background-color: #F9F9F9;
        padding: 20px;
    }

    main > div {
        width: 700px;
    }

    main > div > h1 {
        font-family: 'Alata', sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    main > div > p {
        text-indent: 36px;
        text-align: justify;
        padding: 20px 0px;
    }

    .qr {
        text-align: center;
        border: 1px solid whitesmoke;
        width: 300px;
        height: 350px;
        display: inline-block;
        margin: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    }

    div > p {
        font-family: 'Alata', sans-serif;
        color: #54595F;
    }

    div > h2 {
        font-family: 'Alata', sans-serif;;
        font-weight: bold;
        padding-bottom: 20px;
        color: #54595F;
    }

    .container {
        background-color: white;
        padding: 90px 20px;
        margin: 20px;
        width: 400px;
        font-family: 'Alata', sans-serif;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
        border-radius: 10px;
    }

    .container > p {
        padding: 10px 0px;
        font-size: 14px;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
    }

    .container > h1 {
        color: #003B62;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        text-shadow: 3px 3px 5px #5b5e5f25;
        padding: 10px 0px;
    }

    #plans {
        background-image: linear-gradient(to top, #FFBB42, #ff9a27, #FC8821);
        padding: 20px;
        width: 300px;
        border-radius: 10px;
        height: 100%;
    }

    #plans > h1 {
        color: white;
        line-height: 1;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size: 45px;
    }

    .sub {
        color: #003B62;
    }

    article > a {
        background-image: linear-gradient(to right, #0D7EC8, #3FADF5);
        padding: 13px;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        text-shadow: 5px 5px 5px #003b6231;
        border: 1px solid #0D7EC8;
        margin: 75px;
    }

    #plans > p > a:hover {
        text-decoration: underline;
    }

    .porcentagem {
        background-color: #003B62;
        color: white;
        border-radius: 50px;
        width: 200px;
        padding: 1px 9px 1px 250px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    }

    article > p {
        color: white;
        text-shadow: 5px 5px 5px #003b6231;
        padding-bottom: 5px;
        padding-top: 15px;
    }